/* ESTILOS SECCION INSTITUCIONAL */

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  box-sizing: border-box;
}

/* Estilos del encabezado */
header {
  width: 100%;
  height: 150px;
  background: #2c3e50;
  padding: 40px 0;
  z-index: 1;
}

/* Estilos de navegación */
.nav {
  background: none;
  width: 100%;
  padding: 15px;
  align-content: center;
}

/* Estilos de las secciones de la página */
.seccion-de-pagina {
  padding: 12px;
  margin-left: 45px;
  margin-right: 55px;
  text-decoration: none;
  color: #555;
  background: #f39c12;
  border-radius: 5px;
}

/* Estilos del logo de la empresa */
.logoEmpresa {
  float: right;
  margin-right: 45px;
  margin-top: -55px;
}

/* Estilos de las imágenes */
.casa-portada {
  display: block;
  width: 40%;
  float: right;
  margin-top: -200px;
}

/* Estilos de la sección institucional*/
.seccion-institucional {
  width: 80%;
  margin: auto;
}

.boton-alquileres-temporales {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 400px;
  height: 50px;
  position: relative;
  top: -30px;
  left: 230px;
}

h1 {
  margin-top: 150px;
}

/* Estilos para títulos secundarios */
h2 {
  width: 80%;
  background: #34495e;
  color: #fff;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
}

/* Estilos para porque elegirnos */
.porque-elegirnos {
  width: 100%;
}

.seccion-porque-elegirnos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.imagen-empresa img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.estadisticas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-texto {
  position: relative;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border-radius: 20px;
  margin-right: 10px;
}

.texto {
  font-size: 18px;
  font-weight: bold;
}

.cuadrado {
  position: absolute;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: #e74c3c;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el pie de página */
footer {
  width: 100%;
  height: 150px;
  background: #2c3e50;
  margin-top: 100px;
  padding: 50px;
  justify-content: center;
}

/* Estilos para el texto del pie de página */
footer p {
  text-align: center;
}

/* Estilos para el título del equipo */
.team-title {
  background-color: #b31515;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: 0;
  border-radius: 0;
}

/* Estilos para cada línea del título */
.team-title h2 {
  display: inline-block;
  margin: 0 5px;
  width: auto;
  background: none;
}

/* Estilos para el contenedor de fotos del equipo */
.team-photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #070606;
  padding: 20px;
}

/* Estilos para cada miembro del equipo */
.team-member {
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 0%;
  overflow: hidden;
}

/* Estilos para las imágenes de los miembros del equipo */
.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Establecer la clase de contenedor principal como un contenedor flexible */
.contenedor-flex {
  display: flex;
}

/* Establecer el estilo para el contenedor individual */
.container {
  position: relative;
  margin: 50px 120px;
  overflow: visible;
}

/* Estilo para las imágenes de la empresa */
.imagen-empresa {
  width: 100%;
  display: block;
  filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.5));
}

/* Estilo para la primera imagen */
.imagen-1 {
  max-width: 350px;
}

/* Estilo para la segunda imagen */
.imagen-2 {
  max-width: 310px;
}

/* Estilo para la tercera imagen */
.imagen-3 {
  max-width: 380px;
}

/* Estilo para las barras superpuestas */
.barras {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -80%;
  z-index: 1;
}

/* Estilo para las diferentes barras */
.barra-superior, .barra-media, .barra-inferior {
  position: absolute;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
}

/* Estilo para la barra superior */
.barra-superior {
  background-color: #2c3e50;
  top: 0px;
}

/* Estilo para la barra media */
.barra-media {
  background-color: #2c3e50;
  top: 50%;
  transform: translateY(-50%);
}

/* Estilo para la barra inferior */
.barra-inferior {
  background-color: #2c3e50;
  bottom: 0px;
}

/* Estilos para las barras adicionales */
.barra-superior-adicional, .barra-media-adicional, .barra-inferior-adicional {
  position: absolute;
  width: 20%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 2;
}

/* Estilo para las barras adicionales en la parte superior */
.barra-superior-adicional {
  background-color: #e74c3c;
  left: 80%;
  top: 0px;
}

/* Estilo para las barras adicionales en la parte media */
.barra-media-adicional {
  background-color: #e74c3c;
  top: 50%;
  left: 80%;
  transform: translateY(-50%);
}

/* Estilo para las barras adicionales en la parte inferior */
.barra-inferior-adicional {
  background-color: #e74c3c;
  left: 80%;
  bottom: 0px;
}
